*{
    margin:0;
    padding:0;
}
li.menuitems{
        display: flex;
        list-style-type: none;
        text-align: center;
        height: auto;
        width: auto;
        margin-left: 200px;;

}
li.menuitems a{
   
    text-decoration: none;
    /*border: 3px solid red;*/
    color: burlywood;
    margin: 0 10px 0;
    position: relative;
    top:-30px;
}

div.home{
    font-weight: bold;
    display: inline-block;
    border-right:2px solid black ;
    width:auto;
    height: 20px;
    margin-top: 8px;
    margin-left: 100px;
    padding:10px;
}
main section.mainimage{
    height: 300px;
    width: auto;
    background-image: url("images/main_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.styleA{
    border: 1px none;
    font-weight: bold;
    display:flex ;
    justify-content: center;
    align-items: center;
    height:200px;
    width:150px;
    background-color:#e8e8e8;
    margin:3px;
}
.styleB{
    border: 1px none;
    font-weight: bold;
    display:flex ;
    justify-content: center;/*flex prop. for horizontal alignment*/
    align-items: center; /*flex prop. for vertical alignment*/
    height:200px;
    width:300px;
    background-color:#e8e8e8;
    margin:3px; 
}
.classA{
  
    display: flex;
    justify-content: center;
}
.classB{
    
    justify-content: center;
    display:flex;
}