*{
  margin: 0;
  padding: 0;
}

.Footer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: rgb(24, 24, 51);
  color: #fff;
  }

.rows{
  box-sizing: border-box;
  width: auto;
  display: flex;
  margin-left: 2em;
  justify-content: center;
  color: #fff;
  list-style-type: none;
  margin-bottom: 30px;
  }

.col li{
    margin: 10px;
    width: 150px;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    color: #fff;    
  }
.col li h4{
  text-decoration: underline;
}
